


<%= form_with(model: @bus, url: bus_seats_path(@bus), local: true) do |form| %>
  <% if @bus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bus.errors.count, "error") %> prohibited this bus from being saved:</h2>
      <ul>
        <% @bus.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <% @seats.each_with_index do |seat, index| %>
      <div class="col-md-2 mb-3">
        <div class="seat-checkbox">
          <%= form.fields_for :seats, seat do |seat_form| %>
            <%= seat_form.check_box :seat_number, {}, "seat_#{index + 1}", class: "seat-checkbox-input", id: "seat_#{index + 1}" %>
            <%= seat_form.label "seat_#{index + 1}", "Seat #{index + 1}", class: "seat-checkbox-label" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Save Seats", class: "btn btn-danger" %>
  </div>
<% end %>



