<h1>Seats for <%= @bus.bus_name %></h1>

<br>
<%= form_with url: new_bus_booking_path(@bus), method: :get, local: true, id: "date-form" do |form| %>
  <div class="form-group">
    <h4><%= form.label :date, "Select Date" %></h4>
    <%= form.date_field :date, value: @date, class: "form-control", min: Date.today %>
  </div>
  <br>
  <%= form.submit "View Available Seats", data: { turbo_frame: "modal", bs_toggle: "modal", bs_target: "#seatsModal" }, class: "btn btn-primary" %>
<% end %>

<br>

<div class="modal fade" id="seatsModal" tabindex="-1" aria-labelledby="seatsModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="seatsModalLabel">Select Seats</h5>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag "modal" do %>
          <%= form_with url: bus_bookings_path(@bus), data: { turbo_frame: "_top" }, method: :post, id: "seats-form" do |form| %>
            <div id="seats-container">
              <%= render_seats(@seats, @date) %>
            </div>
            <br>
            <%= hidden_field_tag :date, @date %>
            <% if @date.present? %>
              <div class="actions">
                <%= turbo_frame_tag "seats-form" do %>
                  <%= submit_tag "Pay Amount for Seats", class: "btn btn-primary", data: { turbo_frame: "flash" }, onclick: "return validateSeatsSelection();" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <br>
      </div>
      <div class="modal-footer">
        <%= link_to "cancel", new_bus_booking_path(@bus), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

<%= link_to "Back to Bus", bus_path(@bus), class: "btn btn-secondary" %>
