<h1>Book Seat <%= @seat.seat_number %> for <%= @bus.bus_name %></h1>

<%= form_with(model: [@bus, @seat, @booking], local: true) do |form| %>
  <div class="field">
    <%= form.label :booking_date %>
    <%= form.date_select :booking_date %>
  </div>

  <div class="action">
    
    <%= form.submit "Book", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back', bus_seats_path(@bus), class: "btn btn-secondary" %>
