<h1>Book Selected Seats for <%= @bus.bus_name %></h1>

<% if @seats.present? %>
  <p>Booking Date: <%= @booking_date %></p>
  <ul>
    <% @seats.each do |seat| %>
      <li>Seat <%= seat.seat_number %></li>
    <% end %>
  </ul>

  <%= form_with(url: bus_bookings_path(@bus), method: :post, local: true) do |form| %>
    <%= hidden_field_tag :booking_date, @booking_date %>
    <% @seats.each do |seat| %>
      <%= hidden_field_tag "booking[seats][]", seat.id %>
    <% end %>
    <div class="actions">
      <%= form.submit "Confirm Booking", class: "btn btn-primary" %>
    </div>
  <% end %>
<% else %>
  <p>No seats selected.</p>
<% end %>

<%= link_to 'Back', bus_seats_path(@bus), class: "btn btn-secondary" %>
