<h1>New Bus</h1>

<%= form_with(model: @bus, local: true, class: "needs-validation", novalidate: true) do |form| %>
  <% if @bus.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(@bus.errors.count, "error") %> prohibited this bus from being saved:</h2>
      <ul>
        <% @bus.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :bus_name, class: "form-label" %>
          <%= form.text_field :bus_name, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :bus_number, class: "form-label" %>
          <%= form.number_field :bus_number, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :bus_type, class: "form-label" %>
          <%= form.select :bus_type, Bus.bus_types.keys.map { |type| [type.capitalize, type] }, {}, class: "form-select" %>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :price_of_a_single_seat, class: "form-label" %>
          <%= form.number_field :price_of_a_single_seat, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :departure_time, class: "form-label" %>
          <%= form.time_select :departure_time, {}, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :departure_location, class: "form-label" %>
          <%= form.select :departure_location, CS.states(:IN).map { |code, name| [name, code] }, {}, class: "form-select" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :arrival_time, class: "form-label" %>
          <%= form.time_select :arrival_time, {}, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :arrival_location, class: "form-label" %>
          <%= form.select :arrival_location, CS.states(:IN).map { |code, name| [name, code] }, {}, class: "form-select" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group text-center">
          <%= form.submit "Save Bus", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
