<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <strong><%= link_to 'Bus Reservation System', root_path, class: 'nav-link mx-3' %></strong>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      
      
      
      
      <% if user_signed_in? %>
          
       
        
          <li class="nav-item">
  <%= link_to "My Reservations", user_reservations_bus_bookings_path(current_user), class: 'nav-link' %>
          </li>
        <% if current_user.role == "bus_owner" %>
          <li class="nav-item">
            <%= link_to "Add Bus", new_bus_path , class: 'nav-link' %>
          </li>
          <li class="nav-item">
  <%= link_to "My Buses", bus_owner_index_buses_path, class: 'nav-link' %>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item "> <!-- ml-auto aligns this item to the right -->
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>