<!DOCTYPE html>
<html>
  <head>
    <title>BusApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>


  <%= render 'layouts/navbar' %>   
  <br>
 <div class="container">
  <nav>
  <ul>
  <% unless on_auth_page? %>
    <% if user_signed_in? %>
      
      <li><%=button_to "log_out",destroy_user_session_path,method: :delete%></li>
    <% else %>
      <li><%=link_to "log_in",new_user_session_path%></li><br>
    <% end %>
    <%end%>
  </ul>
</nav>




    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    </div >
  </body>
</html>
